.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.font {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ability {
  justify-content: center;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  width: 720px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  border-style: solid;
  border-color: green;
}

.grass {
  justify-content: center;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  width: 120px;
  background-color: green;
  border-radius: 16px;
}

.poison {
  justify-content: center;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  width: 120px;
  background-color: purple;
  color: white;
  border-radius: 16px;
}

.fire {
  justify-content: center;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  width: 120px;
  background-color: red;
  border-radius: 16px;
}

.water {
  justify-content: center;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  width: 120px;
  background-color: cornflowerblue;
  border-radius: 16px;
}

.flying {
  justify-content: center;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  width: 120px;
  background-color: skyblue;
  border-radius: 16px;
}

.bug {
  justify-content: center;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  width: 120px;
  background-color: yellowgreen;
  border-radius: 16px;
}

.dark {
  justify-content: center;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  width: 120px;
  background-color: black;
  color: white;
  border-radius: 16px;
}

.psychic {
  justify-content: center;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  width: 120px;
  background-color: fuchsia;
  border-radius: 16px;
}

.ghost {
  justify-content: center;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  width: 120px;
  background-color: darkslategray;
  color: white;
  border-radius: 16px;
}

.fairy {
  justify-content: center;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  width: 120px;
  background-color: fuchsia;
  border-radius: 16px;
}

.steel {
  justify-content: center;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  width: 120px;
  background-color: silver;
  border-radius: 16px;
}

.electric {
  justify-content: center;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  width: 120px;
  background-color: yellow;
  border-radius: 16px;
}

.dragon {
  justify-content: center;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  width: 120px;
  background-color: blue;
  color: white;
  border-radius: 16px;
}

.fighting {
  justify-content: center;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  width: 120px;
  background-color: orangered;
  border-radius: 16px;
}

.ground {
  justify-content: center;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  width: 120px;
  background-color: chocolate;
  border-radius: 16px;
}

.rock {
  justify-content: center;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  width: 120px;
  background-color: tan;
  border-radius: 16px;
}

.normal {
  justify-content: center;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  width: 120px;
  background-color: beige;
  border-radius: 16px;
}

.ice {
  justify-content: center;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  width: 120px;
  background-color: lightblue;
  border-radius: 16px;
}

.progressmax {
  background-color: gainsboro;
  height: 20px;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 1%;
}

.progress {
  background-color: lime;
  height: 20px;
  border-radius: 10px;
  width: var(--progress-width);
}
